.spin {
  width: 100%;
}

.spin-container {
  position: relative;
  overflow: hidden;
  display: block;
  height: 4px;
  z-index: 0;
  background-color: rgb(167, 202, 237);
}

.spin-container > .sub1 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
  transition: transform 0.2s linear 0s;
  transform-origin: left center;
  background-color: rgb(25, 118, 210);
  width: auto;
  animation: 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) 0s infinite normal
    none running animation-ozg7p2;
}

.spin-container > .sub2 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
  transition: transform 0.2s linear 0s;
  transform-origin: left center;
  background-color: rgb(25, 118, 210);
  width: auto;
  animation: 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite normal none
    running animation-19gglwu;
}

@-webkit-keyframes animation-19gglwu {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes animation-19gglwu {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

@-webkit-keyframes animation-ozg7p2 {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes animation-ozg7p2 {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

.alert-container {
  width: 100%;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
}

.alert {
  margin-top: 1rem;
  align-items: center !important;
  display: flex !important;
  color: #664d03;
  /* background-color: #fff3cd; */
  background-color: rgb(255 243 204 / 90%);
  border-color: #ffecb5;
  position: relative;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-sizing: border-box;
}
.alert-svg {
  margin-right: 0.5rem !important;
  flex-shrink: 0 !important;
  vertical-align: middle;
  width: 24;
  height: 24;
  overflow: hidden;
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}

.buttonPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
#left-arrow,
#right-arrow {
  cursor: pointer;
}
